.header{
    margin-top: 0.2rem;
    background-color: rgb(161, 219, 221);
    color:rgb(58, 55, 52);
    text-align: center;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
    }
    
    
    .container{
        text-align: center;
        border-color: chocolate;
    }
    
    .coltext
    {
        margin-top: 10rem;
    }
    
    /* .color
    {
        background-color: #7fb6e0;
    } */
    
    .btn
    {
        margin-top: 3rem;
        padding: 1rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        opacity: 0.3;
        cursor: pointer;
        border: 1px solid #0b0c0c;
        /* background-color: transparent; */
        color: #060707;
        font-size: 1.5em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    
    }